@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');

/*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

$awesome-red: #DD3D2A;
$awesome-gray: #5D5D5D;
$awesome-lightgray: #999999;
$awesome-darkgray: #333333;
$bg: white;

:root {
    background-color: $bg;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 2em 3em;

    .about-me {
        text-align: center;

        .about-me__name {
            font-weight: 100;
            font-size: 3em;

            .about-me__last-name {
                font-weight: 700;
            }
        }

        h6 {
            font-size: 0.8em;
            line-height: 1.3em;
        }

        .about-me__position {
            color: $awesome-red;
            font-weight: bold;
            font-variant: small-caps;
        }

        .about-me__address {
            font-weight: 500;
            font-style: italic;
            color: $awesome-lightgray;
        }

        .about-me__social {
            & > h6 {
                display: inline;

                a {
                    text-decoration: none;
                    color: black;

                    i.fa {
                        margin-right: 0.4em;
                    }
                }

                &::after {
                    content: '|';
                    margin-left: 0.75em;
                    margin-right:0.5em;
                }
            }
        }
    }

    section {
        width: 100%;
        margin-top: 1.5em;
        font-family: 'Source Sans Pro';

        .section__item {
            margin-bottom: 1em;
        }

        .section__heading {
            color: $awesome-red;
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 0.3em;
            display: flex;
            flex-direction: row;

            span.section__heading-underline {
                flex-grow: 1;
                border-bottom: 1px solid black;
                margin-bottom: 4px;
                margin-left: 0.3em;
            }
        }

        .section__item {
            & > div {
                width: 100%;

                &:not(:first-child) {
                   margin-top: 0.3em;
                }

                & > * {
                   display: inline;
                }

                & > *:last-child {
                   float: right;
                }

                .section__subheading {
                   font-weight: 600;
                }

                .section__location {
                   color: $awesome-red;
                   font-size: 0.9em;
                   font-style: italic;
                }

                .section__subsubheading {
                   font-size: 0.9em;
                   font-weight: 500;
                   font-variant: small-caps;
                   color: $awesome-gray;
                }

                .section__date-range {
                   font-size: 0.9em;
                   font-weight: 500;
                   font-style: italic;
                }
            }
        }

        ul {
            margin-left: 1.1em;
            margin-top: 0.5em;
            font-size: 0.9em;
            line-height: 1.3em;
        }
    }

    .skills {
        table tr td:first-child {
            text-align: right;
            font-weight: bold;
            padding-right: 0.8em;
        }

        .skills__list span:not(:last-child)::after {
            content: ', ';
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        font-size: 0.75em;
        font-variant: small-caps;
        margin-top: 1.5em;

        table {
            width: 100%;
            color: $awesome-lightgray;

            td {
                flex-grow: 1;
            }
        }
    }
}
